<template>
  <div>
    <input type="text" @keyup.enter="onSubmit($event.target.value)" class="form-control add-todo" placeholder="Add todo" v-model="itemName">
    <button id="checkAll" @click="makeAllDone" class="btn btn-success">Mark all as done</button>
  </div>
</template>

<script>
  export default{
    data:function () {
      return{
        itemName:''
      }
    },

    methods: {
      makeAllDone(){
        this.$emit('makeAllDone');
      },
      onSubmit(name){
          this.$emit('addOneItem',name);
          this.itemName='';

      }
    }
  }
</script>
