<template>
  <ul id="sortable" class="list-unstyled">
    <li class="ui-state-default" v-for="item in itemsList ">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" @click="item.status= !item.status"/> {{item.name}}</label>
      </div>
    </li>

  </ul>

</template>

<script>
  export default {
    props:['itemsList']
  }
</script>
