<template>
  <ul id="done-items" class="list-unstyled">
    <li v-for="item in itemsList ">{{item.name}}
      <button class="remove-item btn btn-default btn-xs pull-right" @click="item.status= !item.status"><span
        class="glyphicon glyphicon-remove"></span></button>
    </li>

  </ul>


</template>

<script>
  export default {
    props: ['itemsList']
  }
</script>
