<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="todolist not-done">
            <h1>Todos</h1>
            <add-todo @addOneItem="addItem($event)" @makeAllDone="makeItemsDone"></add-todo>
            <hr>
            <list-todo :itemsList="getInprogressItems()"></list-todo>
            <div class="todo-footer">
              <strong><span class="count-todos">{{ getInprogressItems().length }}</span></strong> Items Left
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="todolist">
            <h1>Already Done</h1>
           <list-done-item :itemsList="getDoneItems()" ></list-done-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
  import addTodo from './components/addTodo.vue';
  import listTodo from './components/listTodo.vue';
  import listDoneItem from './components/listDoneItem.vue';

  export default {
    data () {
      return {
        items: [{name: 'Task1', status: true}, {name: 'Task1', status: false}],
      }
    },
    components: {addTodo, listTodo,listDoneItem},
    methods: {
      getInprogressItems() {
        return this.items.filter(item => item.status === true);
      },
      getDoneItems() {
        return this.items.filter(item => item.status === false);
      },
      addItem(item) {
        this.items.push({name: item, status: true});
        this.itemName = '';
      },
      makeItemsDone(){
        this.items = this.items.map( (item) => ({name:item.name,status:false}) );

      }
    }
  }
</script>

<style>
  @import "assets/css/styles.css";
</style>


